<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089050015043-5c178khdh0sm97dhbr59cfuf96sof07q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089050015043-5c178khdh0sm97dhbr59cfuf96sof07q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1089050015043-892fieqtjg7tl57s8sc43ingf6r8rnfp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDgwQga76HdNKvzngpGITOdeYsM_gmi7DY</string>
	<key>GCM_SENDER_ID</key>
	<string>1089050015043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>za.co.tfradebe.timeTrackerFlutterCourse</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-app-5c3a7</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-app-5c3a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089050015043:ios:4cb2262476cb6ad3126bf6</string>
	<key>DATABASE_URL</key>
	<string>https://time-tracker-app-5c3a7.firebaseio.com</string>
</dict>
</plist>